#exlinks1, #exlinks2, #exlinks3 { font-family: 'Dancing Script', cursive;  
                                 text-decoration: none;
                                }
#ottopuh {
  display: none;
}

#nikopuh {
  display: none;
}
/*bodyt/naytot/canvas*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 ::-webkit-scrollbar {
  display: none;
}
 
 #mainContent {
  flex-grow: 1;
  text-align: center;
  }


 
 body {
  background: radial-gradient(ellipse, #0d0d0d, #131c23, #141414, #131314, #131313);
  color: rgba(27, 33, 33, 0.9);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: -webkit-fill-available; 
  margin: 0;
  overscroll-behavior: none;
 
 
 }

 
 
 .hidden {
  display: none;
 }
 
canvas {
  height: 100%;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   background: radial-gradient(ellipse, #0d0d0d, #131c23, #141414, #131314, #131313);

}
 



/*Tekstit*/


.header {
  text-align: center;
  padding: 2rem 1rem;
 }
 .main-title {
  font-size: 4.3rem;
  font-weight: bold;
  color: #fff9f1;
  font-family: 'Playfair Display', serif;
  text-shadow:
  -2.5px 4.2px 5px rgba(25, 24, 24, 0.7),
  -3.3px 5.2px 10px rgba(30, 94, 92, 0.7),
  4.4px 6.3px 15px rgba(99, 209, 226, 0.7);
 }
 
 
 .text-3d {
        font-size: 4rem;
      font-weight: bold;
      font-family: 'Playfair Display', serif;
      letter-spacing: 0.1em;
      position: relative;
      display: inline-block;
      background: rgba(15, 15, 15, 0);
      color: #fffcf8;
      filter: blur(0px);
      text-shadow:
      1.5px 1.3px 2.1px rgba(168, 231, 178, 0.6),
  1px 1px 3px rgba(149, 211, 229, 0.6),
  2 2 5px rgba(62, 59, 59, 0.6);
 }


 .content-section {
  padding: 2rem;
  text-align: center;
  flex-grow: 1;
 }
 h2 {
 
text-shadow: 
1px 1px 2px rgba(131, 200, 200, 0.87), 
-1px 1px 2px rgba(137, 204, 207, 0.87), 
1px -1px 2px rgba(103, 192, 173, 0.87), 
-1px -1px 2px rgba(119, 199, 185, 0.87); }


 .section-content h2 {
  font-size: 2.92rem;
  font-family: 'Playfair Display', serif;
   font-weight: bolder; 
  margin-bottom: 1.1rem;
  color: rgba(25, 30, 30, 0.9);  
} 
 
  .tagline {
    font-size: 1.2rem;
    color: #88cbcd;
    margin-top: 0.5rem;
    font-family: 'Lora', serif;
   }
   

   .email-link {
    font-size: 1.9;
    color: #4d8766;
    font-weight: bold;
    text-decoration: none;
   }
   
   
   .email-link:hover {
    color: #ffeacf;
   }


   .servicehead {
    color: rgba(118, 235, 174, 0.59);
    font-weight: bold;
   }
   
   
   
             .section-content p {
    font-size: 1.6rem;
    color: #6c6c6c;
     line-height: 1.6;
    text-shadow:
    -2.5px 4.2px 5px rgba(13, 3, 17, 0.7),
    -3.3px 5.2px 10px rgba(0, 0, 0, 0.7),
    4.4px 6.3px 15px rgba(1, 10, 16, 0.7);
   }
   

   .tagline {
    font-family: 'Dancing Script', cursive;
    font-size: 15.4px;
    color: #88cbcd;
   }
   
   
   .section-content .different-font {
    background: linear-gradient(rgba(29, 31, 33, 0), rgba(44, 47, 51, 0));
    text-align: center;
    padding: 1rem;
    font-size: 1.05rem !important;
    color: #88cbcd !important;
    transition: color 0.4s ease, transform 0.4s ease;
   }

.nmail {
  color: rgb(76, 76, 76);
  font-weight: lighter;
  text-decoration: none;
}
.omail {
  color: rgb(76, 76, 76);

  font-weight: lighter;
  text-decoration: none;

}



   .Niko p {
    color: rgba(255, 238, 177, 0.93);
    font-size: 1.32rem;
  
  }
  .Otto p{
     color: rgba(180, 180, 180, 0.93);
     font-size: 1.32rem;
  }

  
#servicehead1, #servicehead2, #servicehead3, #servicehead4, #servicehead5, #servicehead7, #servicehead8{
  color: rgb(227, 252, 236);
  font-weight: bold;
  text-shadow: 
  1px 1px 2px rgba(43, 228, 228, 0.5), 
  -1px 1px 2px rgba(37, 196, 205, 0.5), 
  1px -1px 2px rgba(41, 211, 174, 0.5), 
  -1px -1px 2px rgba(39, 191, 166, 0.5);

}
#serviceText6 {
  font-weight: bold;
  
  color: rgba(27, 33, 33, 0.9);

  text-shadow: 
  1px 1px 2px rgba(131, 200, 200, 0.5), 
  -1px 1px 2px rgba(137, 204, 207, 0.5), 
  1px -1px 2px rgba(103, 192, 173, 0.5), 
  -1px -1px 2px rgba(119, 199, 185, 0.5);

}












/*Linkit/Buttonit*/


 #revealContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

 }

#translateButton {
 position: fixed; top: 20px; right: 20px
}
 #revealButton {
  background: rgba(168, 218, 220, 0);
  color: #4d8766;
  border: none;
 padding: 48px 154px;
 border-radius: 70%;
  /*box-shadow: 0 4px 10px rgba(30, 94, 92, 0.7);*/
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 52px; /*32*/
    max-width: 408px;
  font-weight: bold;
  cursor: pointer; /*
  text-shadow:
  -2.5px 4.2px 5px rgba(254, 254, 254, 0.2),
  -3.3px 5.2px 10px rgba(30, 94, 92, 0.5),
  4.4px 6.3px 15px rgba(78, 215, 236, 0.4); */
  
  text-shadow: 
  1px 1px 2px rgba(196, 245, 245, 1), 
  -1px 1px 2px rgba(151, 209, 212, 1), 
  1px -1px 2px rgba(120, 211, 191, 1), 
  -1px -1px 2px rgba(133, 212, 199, 1);
  transition: background 0.6s linear, transform 1s linear, box-shadow 0.9s linear;
 
 
 
 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: auto;
 }
 
 
 .nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 1rem 0;
       gap: 10px; /* Add spacing */

 }
 
 
 .nav-links li {
  margin: 0 1rem;
 }
 
 
 .nav-links a {
  text-decoration: none;
  color: #ffeacf;
  font-weight: bold;
  transition: color 0.3s ease;
  cursor: pointer;
 }

 
 
 .nav-links a {
  display: inline-block;
  background: radial-gradient(ellipse, #0d0d0d, #131c23, #141414, #131314, #131313);
  /*opacity: 0.45;*/
  box-shadow: 0 4px 10px rgba(30, 94, 92, 0.7);
  /*color: #4d8766;*/
  color: rgb(227, 252, 236);
  font-weight: bold;
  text-shadow: 
  1px 1px 2px rgba(43, 228, 228, 0.5), 
  -1px 1px 2px rgba(37, 196, 205, 0.5), 
  1px -1px 2px rgba(41, 211, 174, 0.5), 
  -1px -1px 2px rgba(39, 191, 166, 0.5);
  padding: 20px 57px;
  border-radius: 75px;
  text-decoration: none;
  font-size: 32px;
      font-weight: bold;
  transition: background 0.6s ease;
  cursor: pointer;
 }
 
 
 
 
 
 
 
 /*Hoverit*/
 

 #revealButton:hover {
  background: radial-gradient(ellipse, rgba(57, 4, 57, 0), rgba(36, 40, 42, 0));
  transform: scale(1.38);
 transition: box-shadow 9.5s linear, transform 9.5s linear;

 transition: background 6.6s linear, transform 4s linear, box-shadow 6.9s linear;

 
 
 }


 .nav-links a:hover {
  color: #1d1f21, #2c2f33;
 }
 
 
 
 #contactForm button:hover{
  background: rgba(168, 218, 220, 0.9);
  transform: scale(1.06);
 }
 
 
 #contactForm input:hover, #contactForm textarea:hover, #contactForm button:hover {
  box-shadow: 0 0 5px rgba(150, 212, 223, 0.8);
 }


 .nav-links a:hover {
  background: rgba(34, 128, 136, 0.1);
 }
 
 button:hover{
  transform: scale(1.1);
 }
 
 h1:hover {
  color: #4d8766;
  transform: scale(1.1);
}
 

.section-content .different-font:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease;
 }
 
 
 
.card1:hover .content-kortti1 {
  transform: translateY(0);
}


.card1:hover .front-content1 {
  transform: translateX(-30%);
}


.card1:hover .front-content1 p {
  opacity: 0;
}



.card2:hover .content-kortti2 {
  transform: translateY(0);
}


.card2:hover .front-content2 {
  transform: translateX(-30%);
}


.card2:hover .front-content2 p {
  opacity: 0;
}







 /*Contacts*/
 
 #contactForm {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 
 #contactForm input, #contactForm textarea, #contactForm button{
  width: 90%;
  max-width: 400px;
  margin: 0.5rem 0;
     padding: 0.8rem;
  border: none;
  outline: none;
  border-radius: 8px;
      transition: transform 0.8s ease;
 }
 #contactForm input, #contactForm textarea {
  background: rgba(30, 30, 30, 0);
  color: #ffeacf;
  border: none;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(144, 198, 207, 0.6);
  transition: transform 0.8s ease;
  
 }
 
 
 #contactForm textarea {
  overflow: hidden;
  
}


 
 
 
 #contactForm button {
  background: rgba(168, 218, 220, 0.6);
  color: #ffeacf;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.5s ease;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /*Animaatiot*/
 
 
 .slowed{
  animation: fadeIn 1.5s ease-in-out;
 }
 /*
 #revealButton {
  animation: fadeIn 0.9s ease-in-out;
 } */
 
 
 
 p {
  animation: fadeIn 1.8s ease-in-out;
 }
 
 
        h2 {
  animation: fadeIn 1.5s ease-in-out;
 }
 
 
 
 
 h1 {
  animation: fadeIn 1.8s ease-in-out;
 }
        button {
  animation: fadeIn 2s ease-in-out;
 
 
 }
 .nav-links a {
  animation: fadeIn 2.6s ease-in-out;
 
 
 }
 
 
 @keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
 }
 
 
 
 
 p {
  transition: color 0.4s ease, transform 0.4s ease;
 }
 p:hover {
  color:  #f7e3e3;
  /*transform: scale(1);*/
 }
 
 
 h1 {
    transition: color 0.4s ease, transform 0.4s ease;
 }
 
 
 
 
             button {
  transition: color 0.4s ease, transform 0.4s ease;
 }
 
 
 
 
 
 
 
 
 
 /*Trans*/
 
 
 #translateButton {
  display: inline-block;
  /*background: radial-gradient(ellipse, #0d0d0d, #131c23, #141414, #131314, #131313);*/
  background: rgba(0, 0, 0, 0);
  opacity: 0.98;
  box-shadow: 0 4px 10px rgba(30, 94, 92, 0.7);
  color: #4cdba2;
  padding: 16px 30px;
  border-radius: 52%;
  text-decoration: none;
  font-size: 12.9px;
  border: none;
      font-weight: bold;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
 #translateButton:hover {
  transform: scale(1);
  color: rgb(228, 253, 255);
  box-shadow: 0 4px 10px rgba(246, 255, 255, 0.7);

    transition: background 0.7s ease;
 
 
 }
#ottot:hover {
       color: rgba(180, 180, 180, 0.93);

}
 
   #nikot:hover {
    color: rgba(255, 238, 177, 0.93);
  
  }
 
 
 
 
 
 
 
 /*Crew*/
 
 .team {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
  transition: background 0.6s linear, transform 1s linear, box-shadow 0.9s linear;


 }
 
 
 
 
 .Otto, .Niko {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
 
 }
 
 
 
 
 .kuva-otto img{
 width: 38vw;
 height: 59.5vh;
 border-radius: 50%;
 cursor: pointer;
 margin-right: 2rem;
 box-shadow: 2px 0 14px rgba(239, 239, 239, 0.63);
 animation: fadeIn 3.9s ease-in-out;
 
 }
/*

    .kuva-otto img, .kuva-niko img {
        width: 60vw;
        height: auto;
        margin-right: 0;
        margin-bottom: 1rem;
    }
 */
 
 .kuva-niko img {
  width: 37.3vw;
  height: 59vh;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 2rem;
  box-shadow: 2px 0 14px rgba(244, 218, 128, 0.63);
  animation: fadeIn 3.9s ease-in-out;
 
 
 }
 

.Otto, .Niko {
 display: flex;
  align-items: center;
  margin-bottom: 2rem;

  padding: 20px; 
 
}
 
 
 .Otto h4, .Niko h4 {
  border-radius: 40px;
  background: radial-gradient(ellipse, rgba(13, 13, 13, 0), rgba(19, 28, 35, 0), rgba(20, 20, 20, 0), rgba(19, 19, 20, 0), rgba(19, 19, 19, 0));
  width: 40vw;
  height: 30vh;
  cursor: pointer;
  text-align: center;
  margin-top: 30%;
  font-size: 1.64rem;

 
}




.card-otto {
  width: 625px;
  height: 330px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
  overflow: hidden;
  pointer-events: auto;
}


.card1 {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: auto;
}


.card1 .front-content1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: auto;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)

}


.card1 .front-content1 p {
  font-size: 28px;
  font-weight: 700;
  opacity: 1;
  background: radial-gradient(ellipse, rgba(13, 13, 13, 0), rgba(19, 28, 35, 0), rgba(20, 20, 20, 0), rgba(19, 19, 20, 0), rgba(19, 19, 19, 0));
  background-clip: text;
  pointer-events: auto;
 
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}


.card1 .content-kortti1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: radial-gradient(ellipse, rgba(13, 13, 13, 0), rgba(19, 28, 35, 0), rgba(20, 20, 20, 0), rgba(19, 19, 20, 0), rgba(19, 19, 19, 0));
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  /*pointer-events: none;*/
  pointer-events: auto;
  transform: translateX(-99%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}


.card1 .content-kortti1 .heading-kortti1 {
  font-size: 32px;
  font-weight: 700;
}


 


.card-niko {
  width: 600px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
  overflow: hidden;
  pointer-events: auto;
}


.card2 {
  width: 100%;
  height: 100%;
  pointer-events: auto;
  border-radius: inherit;
}


.card2 .front-content2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}


.card2 .front-content2 p {
  font-size: 28px;
  font-weight: 700;
  opacity: 1;
  background: radial-gradient(ellipse, rgba(13, 13, 13, 0), rgba(19, 28, 35, 0), rgba(20, 20, 20, 0), rgba(19, 19, 20, 0), rgba(19, 19, 19, 0));
  background-clip: text;
  pointer-events: auto;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}


.card2 .content-kortti2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: radial-gradient(ellipse, rgba(13, 13, 13, 0), rgba(19, 28, 35, 0), rgba(20, 20, 20, 0), rgba(19, 19, 20, 0), rgba(19, 19, 19, 0));
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: auto;
  /*pointer-events: none;*/
  transform: translateX(-99%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}


.card2 .content-kortti2 .heading-kortti2 {
  font-size: 32px;
  font-weight: 700;
  pointer-events: auto;
}





















@media (max-width: 414px) {
  .container {
    width: 100vw; 
    max-width: 100%;
}

  .card-otto, .card1, .card1, .front-content1, .card1, .front-content1 p, .card1, .content-kortti1, .card1, .content-kortti1, .heading-kortti1, .card-niko, .card2, .card2, .front-content2, .card2, .front-content2 p, .card2, .content-kortti2, .card2, .content-kortti2, .heading-kortti2 { pointer-events: none;}

#translateButton {
  position: fixed; top: 12px; right: 12px
 }
  .card-otto, .card1, .front-content1, .card-niko, .card2, .front-content2 { font-size: 14.2px }

  #ottot, #nikot {
  visibility: hidden;
}
 
  #ottopuh, #nikopuh {
  visibility: hidden;
  }
  

#translateButton {
  display: inline-block;
  background: radial-gradient(ellipse, #0d0d0d, #131c23, #141414, #131314, #131313);
  opacity: 0.98;
  box-shadow: 0 4px 10px rgba(30, 94, 92, 0.7);
  color: #ffffff;
  padding: 9px 18px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 9px;
  border: none;
      font-weight: bold;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
  

.content-kortti2 {
  display: none;
  visibility: hidden;
  pointer-events: none;
}


#gitotto, #gitniko {
  display: block; 
  visibility: visible; 
  text-align: center; 
  margin-top: 10px;
  font-size: 14px;

}


  
    body {
        font-size: 95%;
      overflow-x: hidden;
    }

.Niko p {
  font-size: 12.2px;
  justify-content: center; 
        align-items: center;
        text-align: center;
  display: flex;

}
.Otto p{
   font-size: 12.2px;
  justify-content: center;
        align-items: center;
        text-align: center;
  display: flex;
}
   


  
  html, body {
  overflow-x: hidden;
     min-height: 100%;
    height: 100%;
        overscroll-behavior: contain;

}

    #revealButton {
        padding: 30px 100px;
        font-size: 34.2px;
        max-width: 80%;
    }
    
    .main-title {
        font-size: 3rem;
    }
    
    .text-3d {
        font-size: 2.8rem;
    }
    
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
    
    .nav-links a {
        font-size: 22px;
        padding: 13px 35px;
        border-radius: 50px;
        margin-bottom: 10px;
    }


  .nav-links li {
    margin: 10px 0; 
  }



  
    
    .content-section {
        padding: 1.5rem;
    }
    
    .section-content h2 {
        font-size: 2rem;
    }
    
    .section-content p {
        font-size: 1.2rem;
    }
    
    #contactForm input, #contactForm textarea, #contactForm button {
        width: 95%;
    }
    
    .team {
        align-items: center;
        text-align: center;
    }
    
    .Otto, .Niko {
        flex-direction: column;
        align-items: center;
    }
    
   .kuva-niko img {
        width: 55vw;
        height: auto;
        margin-right: 0;
        margin-bottom: 1rem;
    }
  
#klik, #klikn {
  font-size: 15.6px;
  
}

   .Otto, .Niko {
        flex-direction: column; 
        align-items: center; /* C */
    }
 .kuva-otto img {
       border-radius: 50%;
 cursor: pointer;
 box-shadow: 2px 0 14px rgba(239, 239, 239, 0.63);
 animation: fadeIn 3.9s ease-in-out;
 margin-right: 0;
        margin-bottom: 1rem;
   width: 55vw;
    height: 55vw; 
    object-fit: cover; 
   
    }
  
#nikolink {
  color: rgba(255, 238, 177, 0.93);
    font-size: 27.7px;

}

#ottolink {
  color: rgba(180, 180, 180, 0.93);
  font-size: 27.7px;

}
  .content-kortti1 {
  display: none;
  visibility: hidden;
    pointer-events: none;
}
.popup-content {
  width: 95vw;
  font-size: 4vw;
  padding: 5vw;
}

 
}






/* (768px) */
@media (max-width: 768px) {

  .card-otto, .card1, .card1, .front-content1, .card1, .front-content1 p, .card1, .content-kortti1, .card1, .content-kortti1, .heading-kortti1, .card-niko, .card2, .card2, .front-content2, .card2, .front-content2 p, .card2, .content-kortti2, .card2, .content-kortti2, .heading-kortti2 { pointer-events: none;}
  
#nikolink {
  color: rgba(255, 238, 177, 0.93);
    font-size: 27.7px;

}
.popup-content {
  width: 90vw; /* Adjust width for mobile */
  max-width: 90vw;
  font-size: 3.8vw; /* Slightly larger font size for readability */
  padding: 4vw;
}
  
#klik, #klikn {
  font-size: 15.6px;
  
}
  .card-otto, .card1, .front-content1, .card-niko, .card2, .front-content2 { font-size: 14.2px }

#ottolink {
  color: rgba(180, 180, 180, 0.93);
  font-size: 27.7px;

}
  .container {
    width: 100vw; 
    max-width: 100%;
}

#translateButton {
  position: fixed; top: 12px; right: 12px
 }

#ottopuh, #nikopuh {
visibility: hidden;
}
  
  body {
        font-size: 95%;
      overflow-x: hidden;
    }
  html, body {
  overflow-x: hidden;
     min-height: 100%;
    height: 100%;
        overscroll-behavior: contain;

}



#translateButton {
  display: inline-block;
  background: radial-gradient(ellipse, #0d0d0d, #131c23, #141414, #131314, #131313);
  opacity: 0.98;
  box-shadow: 0 4px 10px rgba(30, 94, 92, 0.7);
  color: #ffffff;
  padding: 9px 18px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 9px;
  border: none;
      font-weight: bold;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
  
.content-kortti2 {
  display: none;
  visibility: hidden;
  pointer-events: none;
}

#ottot, #nikot {
visibility: hidden;
}
  
  .Niko p {
  font-size: 12.2px;
    justify-content: center;
        align-items: center;
        text-align: center;
  display: flex;

}
.Otto p{
   font-size: 12.2px;
  justify-content: center;
        align-items: center;
        text-align: center;
  display: flex;
}

  
    #revealButton {
        padding: 40px 130px;
        font-size: 34px;
        max-width: 70%;
    }

    
    .main-title {
        font-size: 3.5rem;
    }
    
    .text-3d {
        font-size: 3.2rem;
    }
    
    .nav-links {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .nav-links a {
        font-size: 24px;
        padding: 14px 41px;
        border-radius: 58px;
    }



  .nav-links li {
    margin: 10px 0; 
  }

  
    .content-section {
        padding: 2rem;
    }
    
    .section-content h2 {
        font-size: 2.3rem;
    }
    
    .section-content p {
        font-size: 1.4rem;
    }
    
    #contactForm input, #contactForm textarea, #contactForm button {
        width: 90%;
    }
    
    .team {
        align-items: center;
        text-align: center;
    }
    
    .Otto, .Niko {
        flex-direction: column;
        align-items: center;
    }
    
    .kuva-otto img {
       border-radius: 50%;
 cursor: pointer;
 margin-right: 2rem;
 box-shadow: 2px 0 14px rgba(239, 239, 239, 0.63);
 animation: fadeIn 3.9s ease-in-out;
margin-right: 0;
        margin-bottom: 1rem;
   width: 55vw;
    height: 55vw; 
    object-fit: cover; 
   
    }
  .content-kortti1 {
  display: none;
  visibility: hidden;
    pointer-events: none;
}
  
  .kuva-niko img {
        width: 55vw;
        height: auto;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
 .Otto, .Niko {
        flex-direction: column; 
        align-items: center; 
    }

    #gitotto, #gitniko {
      display: block; 
      font-size: 14px;
      visibility: visible; 
      text-align: center; 
      margin-top: 10px;
    }

}

#nikolink {
  color: rgba(255, 238, 177, 0.93);

}

#ottolink {
  color: rgba(180, 180, 180, 0.93);

}















.popup-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background: rgba(0, 0, 0, 0.65);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background: #414342;
  padding: 2vw;
  border-radius: 1vw; 
  text-align: center;
  width: 80vw; 
  max-width: 32vw;
  box-shadow: 0px 0.4vw 1vw rgba(0, 0, 0, 0.2);
  font-size: 1.5vw;
}

#successMessage .popup-content {
  border: 0.3vw solid #54cda0;
  color: #4bd0a2;
}

#errorMessage .popup-content {
  border: 0.3vw solid #e83e2b; 
  color: #e74c3c;
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.98); }
  to { opacity: 1; transform: scale(1); }
}


.popup-content {
  animation: fadeIn 3.4s ease-in-out;
}

