




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel', serif;
  background: radial-gradient(ellipse, #0d0d0d, #131c23, #141414, #131314, #131313);
  color: rgba(14, 14, 14, 0.9);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: -webkit-fill-available;
  margin: 0;
  overscroll-behavior: none;

}

.hidden {
  display: none;
}

#revealContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#revealButton {
  background: rgba(168, 218, 220, 0);
  color: #4d8766;
  border: none;
padding: 48px 154px; 
border-radius: 70%;
  box-shadow: 0 4px 10px rgba(30, 94, 92, 0.7);
  font-family: 'Courier New', Courier;
  font-size: 28px;
    max-width: 408px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 
  -2.5px 4.2px 5px rgba(25, 24, 24, 0.7),
  -3.3px 5.2px 10px rgba(30, 94, 92, 0.7), 
  4.4px 6.3px 15px rgba(99, 209, 226, 0.7);
  transition: background 3s linear, transform 3s linear, box-shadow 3s linear;
}

#revealButton:hover {
  background: radial-gradient(ellipse, rgba(23, 23, 23, 0), rgba(36, 40, 42, 0));
  transform: scale(1.05);
  box-shadow: 0 0 2000px rgba(94, 134, 143, 0.2);
transition: box-shadow 3s linear, transform 3s linear;

}

.header {
  text-align: center;
  padding: 2rem 1rem;
}
.main-title {
  font-size: 4.3rem;
  font-weight: bold;
  color: #ffeacf;
  font-family: 'Playfair Display', serif;
  text-shadow: 
  -2.5px 4.2px 5px rgba(25, 24, 24, 0.7),
  -3.3px 5.2px 10px rgba(30, 94, 92, 0.7), 
  4.4px 6.3px 15px rgba(99, 209, 226, 0.7);
}

.text-3d {
        font-size: 4rem;
      font-weight: bold;
      font-family: 'Playfair Display', serif;
      letter-spacing: 0.1em;
      position: relative;
      display: inline-block;
      background: rgba(15, 15, 15, 0);
      color: #ffeacf; 
      filter: blur(0px);
      text-shadow: 
      1.5px 1.3px 2.1px rgba(168, 231, 178, 0.6), 
  1px 1px 3px rgba(149, 211, 229, 0.6), 
  2 2 5px rgba(62, 59, 59, 0.6); 
}



.nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 1rem 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffeacf;
  font-weight: bold;
  transition: color 0.3s ease;
  cursor: pointer; 
}
.tagline {
  font-size: 1.2rem;
  color: #88cbcd;
  margin-top: 0.5rem;
  font-family: 'Lora', serif;
}




.nav-links a:hover {
  color: #1d1f21, #2c2f33;
}

/*.content-section {
  padding: 3rem 1.5rem;
  text-align: center;
} */

.content-section {
  padding: 2rem;
  text-align: center;
  flex-grow: 1;
}

.section-content h2 {
  font-size: 2.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-bottom: 1.1rem;
  color: rgba(118, 242, 253, 1), rgba(48, 152, 95, 0.1);  }



#contactForm {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactForm input, #contactForm textarea, #contactForm button{
  width: 90%;
  max-width: 400px;
  margin: 0.5rem 0;
     padding: 0.8rem;
  border: none;
  outline: none;
  border-radius: 8px;
      transition: transform 0.8s ease;
}
#contactForm input:hover, #contactForm textarea:hover, #contactForm button:hover {
  box-shadow: 0 0 5px rgba(150, 212, 223, 0.8);
}
#contactForm input, #contactForm textarea {
  background: rgba(30, 30, 30, 0);
  color: #ffeacf;
  border: none;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(144, 198, 207, 0.6);
  transition: transform 0.8s ease;
}



#contactForm button {
  background: rgba(168, 218, 220, 0.6);
  color: #ffeacf;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

#contactForm button:hover{
  background: rgba(168, 218, 220, 0.9);
  transform: scale(1.1);
}



canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  background: transparent;
    height: -webkit-fill-available;

}


        .email-link {
  font-size: 1.9;
  color: #4d8766;
  font-weight: bold;
  text-decoration: none;
}

.email-link:hover {
  color: #ffeacf;
}


.nav-links a {
  display: inline-block; 
  background: radial-gradient(ellipse, #0d0d0d, #131c23, #141414, #131314, #131313);
  opacity: 0.75;
  box-shadow: 0 4px 10px rgba(30, 94, 92, 0.7);
  color: #4d8766;
  padding: 20px 57px;
  border-radius: 75px;
  text-decoration: none;
  font-size: 32px;
      font-weight: bold;
  transition: background 0.4s ease;
  cursor: pointer; 
}

.nav-links a:hover {
  background: rgba(34, 128, 136, 0.1);
}


#mainContent {
flex-grow: 1;
text-align: center;
}



           .section-content p {
  font-size: 1.6rem; 
  color: #ffeacf;
   line-height: 1.6;
  text-shadow: 
  -2.5px 4.2px 5px rgba(13, 3, 17, 0.7),
  -3.3px 5.2px 10px rgba(162, 213, 211, 0.7),  
  4.4px 6.3px 15px rgba(50, 50, 50, 0.7);  
}





.slowed{
  animation: fadeIn 3.5s ease-in-out;
}


p {
  animation: fadeIn 3.5s ease-in-out; 
}

        h2 {
  animation: fadeIn 2s ease-in-out;
}


h1 {
  animation: fadeIn 3.5s ease-in-out; 
}
        button {
  animation: fadeIn 2.2s ease-in-out; 

}
.nav-links a {
  animation: fadeIn 5.2s ease-in-out; 

}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


p {
  transition: color 0.4s ease, transform 0.4s ease;
}
p:hover {
  color:  #f7e3e3;  
  transform: scale(1.06); 
}

h1 {
    transition: color 0.4s ease, transform 0.4s ease;
}

h1:hover {
    color: #4d8766; 
    transform: scale(1.1); 
} 

             button {
  transition: color 0.4s ease, transform 0.4s ease;
}

button:hover{
  transform: scale(1.1);
}

 


.tagline {
  font-family: 'Dancing Script', cursive;
  font-size: 14.2px; 
  color: #88cbcd; 
}

h2 {
  text-shadow: 
  1px 1px 2px rgba(184, 242, 244, 0.5), /* soft glow in one direction */
  -1px 1px 2px rgba(184, 242, 244, 0.5), /* soft glow in the opposite direction */
  1px -1px 2px rgba(184, 242, 244, 0.5), /* glow above */
  -1px -1px 2px rgba(184, 242, 244, 0.5);
}
/*
.different-font {
  background: linear-gradient(rgba(29, 31, 33, 0), rgba(44, 47, 51, 0));
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
      color: #88cbcd; 

}
.different-font { 
  transition: color 0.4s ease, transform 0.4s ease;
}

.different-font:hover {
transform: scale(1.1); 
transition: transform 0.3s ease; 
}
*/
.section-content .different-font {
  background: linear-gradient(rgba(29, 31, 33, 0), rgba(44, 47, 51, 0));
  text-align: center;
  padding: 1rem;
  font-size: 1.05rem !important;
  color: #88cbcd !important; 
  transition: color 0.4s ease, transform 0.4s ease;
}

.section-content .different-font:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; /* Adds smooth scaling */
}




























/* Media Query: Tablet and smaller devices */
@media (max-width: 768px) {
  html, body {
  min-height: 100vh; /* Ensure full height */
  margin: 0;    /* Remove any default margin */
  height: -webkit-fill-available;
overscroll-behavior: none;
  }

#mainContent { flex: 1; }
.main-title {
  font-size: 50px;
}

#translateButton {
    padding: 2px 5px; /* Smaller padding for a compact button */
    border-radius: 50%; /* Makes it circular */
    text-decoration: none;
    font-size: 5px; /* Adjusted font size for readability */
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(184, 242, 244, 0.8); /* Light, subtle background */
    color: #000; /* Dark text for contrast */
    border: 1px solid rgba(150, 212, 223, 0.8); /* Subtle border */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Light shadow for a "real" feel */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .tagline {
      font-size: 18.9px;
          font-family: 'Cinzel', serif;

  }
  h2 {
  font-size: 28.8px;
}
  p {
      font-size: 16.8px;
  }
   .section-content p {
            font-size: 16.8px;
        }
.section-content h2 {
            font-size: 28.8px;
        }
  
  #revealButton {
      padding: 56px 80px;
      font-size: 18px;
      border-radius: 69%;
            max-width: 272px;

  }

  .nav-links a {
      padding: 12px 18px;
      font-size: 21px;
      position: relative; /* Or remove positioning */
  margin: 3px; 
       display: flex;
  flex-wrap: wrap; /* Ensures buttons wrap to the next row if they don’t fit */
  gap: 10px; /* Adds spacing between buttons */
  justify-content: center;
  }
  .different-font {
      font-size: 11px;
  }

  .content-section {
      padding: 30px;
  }
.hidden:footer {
  display: none;
}
     canvas {
           min-height: 100vh;
         height: -webkit-fill-available;
       overscroll-behavior: none;


       }
 
}

/* Media Query: Extra-large phones and smaller */
@media (max-width: 414px) {
  html, body {
  min-height: 100vh; /* Ensure full height */
  margin: 0;    /* Remove any default margin */
      height: -webkit-fill-available;
    overscroll-behavior: none;


}
  #mainContent { flex: 1; }
.hidden:footer {
  display: none;
}
#translateButton {
    padding: 2px 5px; /* Smaller padding for a compact button */
    border-radius: 50%; /* Makes it circular */
    text-decoration: none;
    font-size: 5px; /* Adjusted font size for readability */
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(184, 242, 244, 0.8); /* Light, subtle background */
    color: #000; /* Dark text for contrast */
    border: 1px solid rgba(150, 212, 223, 0.8); /* Subtle border */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Light shadow for a "real" feel */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  #revealButton {
      padding: 32px 42px;
      font-size: 16px;
      border-radius: 65%;
            max-width: 203px;

  }
  .tagline {
      font-size: 15.1px;
          font-family: 'Cinzel', serif;

  }
   .main-title {
  font-size: 42px;

  .nav-links a {
      padding: 9px 13px;
      font-size: 16.4px;
      position: relative; /* Or remove positioning */
  margin: 3px; 
       display: flex;
  flex-wrap: wrap; /* Ensures buttons wrap to the next row if they don’t fit */
  gap: 10px; /* Adds spacing between buttons */
  justify-content: center;
  }
h2 {
  font-size: 24.1px;
}
  .content-section {
      padding: 24px;
  }
       p {
           font-size: 14px;
       }
        .section-content p {
            font-size: 14px;
        }
       .different-font {
           font-size: 8px;
       }
        .section-content h2 {
            font-size: 24.1px;
        }
       canvas {
          min-height: 100vh;
           height: -webkit-fill-available;
         overscroll-behavior: none;


       }
    
}
}

#translateButton {
  display: inline-block; 
  background: radial-gradient(ellipse, #0d0d0d, #131c23, #141414, #131314, #131313);
  opacity: 0.98;
  box-shadow: 0 4px 10px rgba(30, 94, 92, 0.7);
  color: #ffffff;
  padding: 16px 30px;
  border-radius: 52%;
  text-decoration: none;
  font-size: 12.9px;
  border: none;
      font-weight: bold;
  cursor: pointer; 
  font-family: sans-serif;
}
#translateButton:hover {
  transform: scale(1.1);
  color: rgba(118, 242, 253, 1);
    transition: background 0.7s ease;

}




